<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhyme Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rhyme Finder</h1>
        <form id="rhymeForm">
            <input type="text" id="wordInput" placeholder="Enter a word" required>
            <button type="submit">Find Rhymes</button>
        </form>
        <div id="results" class="result"></div>
    </div>
    <div class="footer">
        Developed by - Nikhil Kumar Tiwari
    </div>
    <script>
        document.getElementById('rhymeForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const word = document.getElementById('wordInput').value;
            console.log(`Fetching rhymes for: ${word}`);
            fetch(`/api/rhyme?word=${word}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    const resultsDiv = document.getElementById('results');
                    resultsDiv.innerHTML = '';
                    if (data.error) {
                        resultsDiv.innerHTML = `<p>${data.error}</p>`;
                    } else {
                        data.forEach(item => {
                            resultsDiv.innerHTML += `<p><span class="word">${item.word}</span>: <span class="meaning">${item.meaning}</span></p>`;
                        });
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        });
    </script>
</body>
</html>


